@media screen and (max-width: 500px) {img {width: 323px; height: 250px;}}
@media screen and (max-width: 360px) {img {width: 255px; height: 200px;}}
@media screen and (max-width: 360px) {div.grid-container{text-align: left; }}
@media screen and (max-width: 360px) {img.strong{width:200px; height: 150px;}}
@media screen and (max-width:360px) {img.nexus5 {width:50px; height: 50px;}}
@media screen and (max-width:360px) {h1.nexus5 {font-size: 20px}}
@media screen and (min-width:768px) and (max-width:1024px) {img.ipadresponsivniss
{width:662px; height: 430px;}}
@media screen and (min-width:1366px) {img.ipadresponsivniss{width:1245px; height: 800px;}}
@media screen and (min-width:1366px) {div.grid-container{grid-gap:10px;}}
@media screen and (min-width:1366px) {div.fleex-container{padding:140px;   flex-wrap:nowrap;
}}

body.styles {
  font-family: 'Rajdhani';
  background-color: black;
  margin-left: 52px;
  margin-right: 52px;
  color: white;
}

div.strong {
  font-weight: bold;
  color: white;
}
.grid-container {
  display: grid;
  grid-gap: 0;
  background-color: pink	;
  padding: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 400px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}
header h1 {
  font-family:'Rajdhani';
  text-align: right;
  color: white;
  font-size: 40px;
}
h1 span {
  text-align: right;
  color: white;
  font-size: 20px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
text-decoration: overline;
}

hr {
  color: white;
}

.footerbackground {
  background-color: #000066;
}

header.text-alignment {
  text-align: right;
}

.text-align {
  text-align: center;
}
footer p{
  padding: 15px 0px 6px 5px;
}

.render {
  background-color: black;
}
.color {
  color: white;
}

.fleex-container {
  display: flex;
  flex-wrap:wrap;
  background-color: #000066;
}
.fleex-container  div {
  width: 295px;
  margin: 15px;
  padding:0px;
  color:white;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}
img#float {
  float: left;
}
span.style {
  text-decoration: underline;
      font-weight: bold;
    }
